
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Montserrat', sans-serif;
  
}
*::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  border-radius: 1rem;
  background-color: #000000b2;
}

*::-webkit-scrollbar-thumb {
  background-color: #aacfad;
  border-radius: 1rem;
}
body::before {
  content: url("../assets/img/login.jpg") url("../assets/img/onboard.jpg");
  display: none;
}

.login {
  display: flex;
  background: linear-gradient(rgba(51, 153, 93, 0.4),
   rgba(9, 66, 77, 0.586)), url("../assets/img/login.jpg") center;
  background-size: cover;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  background: linear-gradient(rgba(51, 153, 93, 0.4),
   rgba(9, 66, 77, 0.586)), url("../assets/img/login.jpg") center;
  background-size: cover;
  height: 100vh;
  display: flex;
  background-color: transparent;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.863);
  overflow: hidden;
}

.left {
  flex: 1;
  color: white;
  height: 100vh;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;

}

h1 {
  font-size: 60px;
  line-height: 70px;
}

button {
  width: 50%;
  color: #33995d;
  padding: 10px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  transform: scale(0.968);
}

.logo-container{
  background-color:#000000a4 ;
  display: inline-flex;
  text-align: center;
  padding:3px;
  border-radius: 1rem;
  cursor: pointer;
}
.logo{
  width: 25px;
  height: 25px;
  border-radius:50%;
  margin-right:8px
}
.logo-text{
  margin:auto;
  font-size: 20px;
}

.right {
  flex: 1;
  background-color: #000000bf;
  margin:6px;
  border-radius: 8px;
  padding: 3rem;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 20px;
  color: #888;
  overflow-y: auto;

}
.sub-heading{
  font-size:small;
}

form {
  display: flex;
  text-align: center;
  gap: 30px;
  flex-direction: column;
  width: 65%;
}
input {
  color: #fff;
  background-color: transparent;
  border:solid 1.7px rgba(99, 167, 99, 0.822);
  outline:none;
  padding: 1rem;
  transition:all ease-in-out .7s;
  border-radius:1.5rem;
}
input:focus{
  border:solid 1.7px rgb(153, 250, 153);
}

button {
  width: 100%;
  background-color: #65c08bc4;
  color: #fff;
  padding: 1rem;
  border: none;
  border-radius: 2rem;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  transform: scale(0.968);
}
  

/* updated styles */

.error-text{
  display: none;
}
#typingText{
  font-weight:450;
}
.google{
  margin:8px 0;

}
.google button{
  padding :1rem;
  width: 100%;
  border:solid lightgreen 2px;
  border-radius:8px;
  background-color: transparent;
  color:lightgreen ;
  cursor: pointer;
}
.google button:hover{
  background-color: #33995d;
  color:black;
  border:solid #33995d 2px;
}
.google button:active{
  transform:scale(.98)
}
@media screen and (max-width:850px) {
  
  .card{
    width: 100%;

  }
  .left{
    display: none;
  }
  .right{
    padding: 1rem;
  }
  
}

#countrySelect {
  color: #646464;
  background-color: transparent;
  border:solid 1.7px rgba(99, 167, 99, 0.822);
  outline:none;
  padding: 1rem;
  transition:all ease-in-out .7s;
  border-radius:1.5rem;
}
/* loader */
.main-loader-success{
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader-success {
  border: 2px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid rgb(110, 110, 170);
  border-right: 6px solid rgb(99, 146, 99);
  border-bottom: 7px solid rgb(158, 71, 71);
  border-left: 4px solid rgb(235, 112, 187);
  width: 35px;
  height: 35px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
.loader-text{
  margin:auto 3px;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}