
.add {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    height: 580px;
    justify-content: center;
    align-items: center;
  }
  
  .add .add-card {
    display: flex;
    display: flex;
    background-color: transparent;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.863);
    overflow: hidden;
  }
  
  .add .left {
    flex: 1;
    background-size: cover;
    margin:8px;
    border-radius: 8px;
    color: white;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
  
  }
  
  .add h1 {
    font-size: 60px;
    line-height: 70px;
  }
  
  .add button {
    width: 50%;
    color: #33995d;
    padding: 10px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .add button:hover {
    transform: scale(0.968);
  }
  
  .add .logo-container{
    background-color:#000000a4 ;
    display: inline-flex;
    text-align: center;
    padding:3px;
    border-radius: 1rem;
    cursor: pointer;
  }
  .add .logo{
    width:30px;
    height: 30px;
    border-radius:50%;
    margin-right:8px
  }
  .add .logo-text{
    margin:auto;
    font-size: 20px;
  }
  
  .add .right {
    overflow: auto;
    flex: 2;
    padding: 3rem;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 20px;
    color: #b4b4b4;
  
  }
  .add .sub-heading{
    font-size:small;
  }
  
  .add form {
    display: flex;
    text-align: center;
    gap: 10px;
    flex-direction: column;
    width: 65%;
  }
  .add input, .add textarea {
    color: #fff;
    width: 100%;
    background-color: transparent;
    border:solid 1.7px rgba(99, 167, 99, 0.822);
    outline:none;
    padding: .5rem;
    transition:all ease-in-out .7s;
    border-radius:10px;
  }
  .add input:focus,.add textarea:focus{
    border:solid 1.7px rgb(153, 250, 153);
  }
  
  .add button {
    width: 100%;
    background-color: var(--btn-light-bg);
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 2rem;
    font-weight: bold;
    cursor: pointer;
  }
  
  .add button:hover {
    transform: scale(0.968);
  }
    
  
  /* updated styles */
  
  .error-text{
    display: none;
  }
  #typingText{
    font-weight:450;
  }
  .google{
    margin:8px 0;
  
  }
  .google button{
    padding :1rem;
    width: 100%;
    border:solid lightgreen 2px;
    border-radius:8px;
    background-color: transparent;
    color:lightgreen ;
    cursor: pointer;
  }
  .google button:hover{
    background-color: #33995d;
    color:black;
    border:solid #33995d 2px;
  }
  .google button:active{
    transform:scale(.98)
  }
  @media screen and (max-width:995px) {
    .add{
      height: 500px;
    }
   
    .add .left{
      display: none;
    }
    .add .right{
      overflow: auto;
      padding: 1rem;
    }
    
  }
  
  #countrySelect, select {
    color: #646464;
    background-color: transparent;
    border:solid 1.7px rgba(99, 167, 99, 0.822);
    outline:none;
    padding: 1rem;
    transition:all ease-in-out .7s;
    border-radius:1.5rem;
    width: 100%;
  }

/* manage-btn  */
.manage-btn-container{
  
  width: 100%;
  padding: 1rem;
  

}
.manage-btn-container .manage-content{
  width: 100%;
  display: flex;
  gap:10px;
  flex-wrap: wrap;/* 
  background: linear-gradient(rgba(55, 58, 56, 0.699),rgba(21, 36, 27, 0.699),
   rgba(52, 58, 58, 0.586)) left; */
  border-radius:10px;
  border:1px solid gray;
  padding:5px
}
.manage-btn-container .manage-btn{
  border-radius:9px;
  padding: 8px;;
  border:none;
  flex:1;
  margin:auto ;
  outline:none;
  color:white;
}
.toast-alert{
  position: fixed;
  z-index: 99999;
  bottom :1rem;
  right:6px
}
@media screen and (max-width : 550px) {
  .manage-btn-container{
    width: 100vw;

  }
  .manage-btn-container .manage-content{
    flex-direction: column;
  }
  .manage-btn-container .manage-btn{
    width: 100%;
  }
  
}
/* datatables custom styles */
table{
  overflow: auto;
}
.datatable-container{
  overflow: auto;
}
.datatable-top{
  display: flex;
  gap:4px;
  justify-content: space-between;
  flex-wrap:wrap
}
.datatable-top input{
  border: 1px solid var(--border-color);
  border-radius:8px;
  padding: 6px;
}
.datatable-top select{
  border: 1px solid var(--border-color);
  border-radius:8px;
  padding: 6px;
  width: 60px;
  margin-bottom: 4px;
}
.datatable-pagination-list-item{
  color:rgb(70, 70, 70);
  border-radius:4px
}

/* teaching plans section */
.plans-list{
  display: flex;
  flex-wrap:wrap;
  gap: 1rem;
  /* justify-content: space-evenly; */
  border:var(--border-color) dashed 2px;
  border-radius:8px;
  padding:1rem
}
.plans-list .plan{
  width: 350px;
  background-color: #212529;
  padding:10px;
  border-radius: 7px;
  cursor: pointer;
  overflow-y: auto;
}

.plan-single{
  width: 100%;
  background-color: #212529;
  padding:10px;
  border-radius: 7px;
  cursor: pointer;
  overflow-y: auto;
}

.plans-list .plan .plan-header{
  background-color: #191c1fd8;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 6px;
  border-radius: 8px;
}
.plans-list .plan .plan-header button{
  border:none;
  border-radius: 8px;
  background-color: #6c757d;
  color:white;
}
.plans-list .plan .plan-header button:active{
  opacity: .7;
}
.plans-list .plan .plan-header .del-btn{
  background-color: #f57272;
  color:black

}
@media screen and (max-width : 791px){
  .plans-list .plan{
    width: 100%;
  }
}
/* apex charts */
.apexcharts-menu{
  background-color: var(--card-bg-color) !important;
  border:solid 1px var(--border-color) !important
}

/* location loading - stuff attendance */
/* HTML: <div class="loader"></div> */
.location-loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-right-color: #25b09b;
  animation: l15 1s infinite linear;
}
.location-loader::before,
.location-loader::after {    
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
  animation: l15 2s infinite;
}
.location-loader::after {
  margin: 8px;
  animation-duration: 3s;
}
@keyframes l15{ 
  100%{transform: rotate(1turn)}
}